@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #201e30;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #201e30;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  @apply p-4 border rounded-lg
}
