@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #201e30;
  --accent: #c6c6fd;
  --accent2: #797999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #201e30;
    --foreground: #ededed;
    --accent: #2a283f;
    --accent2: #46426a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  @apply p-4 border rounded-lg;
}

.button {
  background-color: var(--accent);
  @apply p-2 mt-2 mr-2 rounded-lg;
}

.hover-bg-color {
  background-color: var(--accent2);
}

.button:hover {
  @apply hover-bg-color
}

nav {
  @apply mb-2 p-2 min-h-5;
  background-color: var(--accent);
}

nav a {
  background-color: var(--background);
  @apply m-2 p-2 rounded-lg;
}

nav a:hover {
  @apply hover-bg-color
}

